@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans&family=Tulpen+One&display=swap');

/* Variables */
:root {
    --heading: 'Josefin Sans', sans-serif;
    --subheading: 'Noto Sans', sans-serif;
    --body: 'Noto Sans', sans-serif;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading);
}
h1 {
    font-size: 30px;
    color: var(--blue);
}
h2 {
    font-size: 20px;
    color: var(--black);
}

p {
    font-family: var(--body);
    font-size: 16px;
    color: var(--blue);
    font-weight: 400;
}

/* Colors */
:root {
    --cyan: #80E5D1;
    --blue: #063B8A;
    --lightblue: #AAC9F8;
    --black: #000000;
    --white: #FFFFFF;
}

/* Other global styles */
body {
    background-color: var(--white);
    cursor: pointer;
}
.floating {
    animation: floatAnimation 3s ease-in-out infinite;
}
  
@keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
}

.question-mark {
    position: absolute;
    top: 50px;
    right: 70px;
}
  

/* Buttons */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--subheading);
    font-size: 16px;
    font-weight: 1000;
    color: var(--white);
    background-color: var(--cyan);
    border: 5px solid var(--blue); 
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
}
.button:active {
    transform: scale(0.9);
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.long-button {
    width: 260px;
}

.short-button {
    width: 260px;
}

.cyan-button {
    background-color: var(--cyan);
    color: var(--blue);
}
.cyan-button h2 {
    color: var(--blue);
}

.lightblue-button {
    background-color: var(--lightblue);
    color: var(--blue);
}
.lightblue-button h2 {
    color: var(--blue);
}

.blue-button {
    background-color: var(--blue);
    color: var(--white);
}
.blue-button h2 {
    color: var(--white);
}

.white-button {
    background-color: var(--white);
    color: var(--blue);
}
.white-button h2 {
    color: var(--blue);
}

.back-button, .home-button-sm {
    position: fixed;
    top: 50px;
    left: 30px;
    transition: transform ease-in-out 0.1s;
}
.add-button {
    position: fixed;
    top: 50px;
    right: 30px;
    transition: transform ease-in-out 0.1s;
}
.back-button:active, .add-button:active, .home-button-sm:active, .next-button:active {
    transform: scale(0.9);
}

.link {
    text-decoration: none;
}
.link h2 {
    text-decoration: none;
}

/* Opening Screen */
.opening-screen, .home-screen, .input-screen, .difficulty-screen, .question-number-screen, .name-screen, .loading-screen, .quiz-screen, .quiz-finish-screen, .history-screen {
    padding-left: 48px;
    padding-right: 48px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.opening-screen h1 {
    color: var(--black);
    opacity: 0;
    animation: popup 3s forwards;
}
@keyframes popup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.bouncing-squid {
    position: absolute;
    bottom: -100px;
    transform: translateY(0);
    animation: big-bounce 3s forwards;
    opacity: 0;
}

@keyframes big-bounce {
    0% {
        transform: translateY(0); /* Bounce at the bottom */
    }
    20% {
        opacity: 1;
        transform: translateY(-210px); /* Bounce up */
    }
    50% {
        opacity: 1;
        transform: translateY(-420px); /* Bounce down a bit */
    }
    80% {
        opacity: 1;
        transform: translateY(-630px); /* Bounce back to the start */
    }   
    100% {
        opacity: 1;
        transform: translateY(-840px);
    }
}

/* Home Screen */
.big-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    height: 10rem;
    width: calc(100% - 48px); /* 100% width minus the sum of left and right margins */
    border-radius: 30px;
    margin-top: 30px;
    padding: 0;
    text-decoration: none;
    transition: transform ease-in-out 0.1s;
}
.big-button:active {
    transform: scale(0.9);
}
.big-button img {
    height: 100%;
}
.big-button h2 {
    width: 100%;
    text-align: center;
}
.quiz-button {
    border: 7px solid var(--Navy, #063B8A);
    justify-content: flex-start;
}
.history-button {
    border: 7px solid var(--cyan);
    justify-content: flex-end;
}
.coral-reef {
    margin-right: -10px;
    margin-bottom: -50px;
    width: 40%;
    max-height: 70%;
}
.starfish {
    margin-left: 0px;
    margin-bottom: -20px;
    width: 40%;
}

/* History Screen */
.history-screen {
    margin-top: 30px;
}
.history-screen h1 {
    margin-top: 80px;
    margin-bottom: 20px;
}
.history-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -50px;
    margin-right: -50px;
    min-width: 150px;
    max-width: 200px;
}
.history-containers div {
    display: flex;
    justify-content: space-between;
    width: 150%;
    white-space: nowrap;
}



/* Input Screen */
.screen-title {
    max-width: 220px;
}
textarea {
    max-width: 70%;
    min-height: 100px;
    border: 3px solid var(--blue);
    border-radius: 30px;
    padding: 20px 20px;
    outline: none;       /* Remove outline */
    resize: none;        /* Disable resizing */
    padding: 10px;       /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin for spacing */
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.input-title {
    display: flex;
    flex-direction: row;
}
.or {
    color: var(--blue);
    margin: 0;
}

/* Name Screen */
.name-screen textarea{
    height: 15px;
}

/* Loading Screen */
.loading-squid {
    animation: small-bounce 3s alternate-reverse infinite;
}

@keyframes small-bounce {
    0% {
        transform: translateY(0); /* Bounce at the bottom */
    }
    20% {
        opacity: 1;
        transform: translateY(-20px); /* Bounce up */
    }
    30% {
        opacity: 1;
        transform: translateY(-10px); /* Bounce higher */
    }
    50% {
        opacity: 1;
        transform: translateY(-20px); /* Bounce down a bit */
    }
    60% {
        opacity: 1;
        transform: translateY(-10px); /* Bounce down less */
    }
    80% {
        opacity: 1;
        transform: translateY(-20px); /* Bounce back to the start */
    }   
    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

/* Quiz Screen */
.question-container {
    background-color: var(--white);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid var(--cyan);
    height: 130px;
}

.answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-button {
    position: fixed;
    right: 0;
    transition: transform ease-in-out 0.1s;
}

/* Answer Mockup Screen */
.correct-answer {
    border-color: green;
}

.wrong-answer {
    border-color: red;
}

/* Quiz Finish Screen */
.icons-container {
    margin-top: 10px;
}

.home-button {
    margin-right: 20px;
    transition: transform ease-in-out 0.1s;
}
.home-button:active {
    transform: scale(0.9);
}

.share-button {
    margin-left: 20px;
    transition: transform ease-in-out 0.1s;
}
.share-button:active {
    transform: scale(0.9);
}